body {
    padding: 1em;
    background: #EEE;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: background-color 2s linear;
}

.date-zone {
    padding-top: 3em;
    text-align: center;
    color: #4dd0e1;
    -webkit-transition: color 0.9s, -webkit-transform 1s;
    transition: color 0.9s, transform 1s;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.animate {
    color: #ffb74d;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.date {
    font-size: 4em;
}

.human_date {
    padding-top: 1em;
    font-size: 2em;
}

.ui {
    color: #444;
}

.table tr td {
    padding-right: 1em;
}
